{% extends "base.html" %}

{% block title %}View Dogs{% endblock %}

{% block content %}

<h2>Dog Profiles</h2>
<form method="GET" action="/view-dogs">

    <input
        type="text"
        name="search"
        placeholder="Search by dog name..."
        value="{{ search }}">

    <button type="submit">Search</button>

</form>

<br>

{% if dogs %}

    {% for dog in dogs %}

    <div class="dog-card">

        <h3> {{ dog["dog_name"] }}</h3>

        <p><strong>Breed:</strong> {{ dog["breed"] }}</p>

        <p><strong>Age:</strong> {{ dog["age"] }}</p>

        <p><strong>Owner:</strong> {{ dog["owner_name"] }}</p>

        <a href="/edit-dog/{{ dog['dog_id'] }}">
            <button>Edit</button>
        </a>

        <a href="/delete-dog/{{ dog['dog_id'] }}"
         onclick="return confirm('Are you sure you want to delete the dog profile?');">
        <button>Delete</button>
        </a>

    </div>

    {% endfor %}

{% else %}

<p>No dogs have been added yet.</p>

{% endif %}

{% endblock %}